<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice</title>
    <link
      rel="icon"
      type="image/png"
      href="/public/link.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Microservicio acortador de URL</h1>

    <p>Ejemplo: POST [url-proyecto]/api/shorturl - https://www.google.com</p>
    <main>
      <section>
        <form action="api/shorturl" method="POST">
          <fieldset>
            <legend>Acortador de URL</legend>
            <label for="url_input">URL:</label>
            <input
              id="url_input"
              type="text"
              name="url"
              placeholder="https://www.freecodecamp.org/"
            />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <section>
        <h3>Uso:</h3>
        <p><a href="api/shorturl/1">[url-proyecto]/api/shorturl/1</a></p>
        <h4>Redirecciona a:</h4>
        <p>https://www.google.com</p>
      </section>
    </main>
    <footer>
      <p>Por <a href="https://github.com/MiltonEmm008/url-shortener-microservice" target="_blank">Milton</a></p>
    </footer>
  </body>
</html>
